<!-- Andrea Jackson and Kate Kenneally
CS 249 Spring 2016
Course Analyzer Final Project
index.html -->

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        
        <header>
            <h1>CS Course Analyzer</h1>
        </header>
        
        <section>
            <h2>Please select whether you are a professor or a student.</h2>
        </section>
        
        <a href="/professor"><button type="button">Professor</button></a>
        <a href="/student"><button type="button">Student</button></a>
        
  </body>
</html>