<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    </head>
    
    <body>
        
        <header>
            <h1>CS Course Analyzer</h1>
        </header>
        
        <section>
            <h2>Please select whether you are a professor or a student.</h2>
        </section>
        
        <a href="professor.html"><button type="button">Professor</button></a>
        <a href="student.html"><button type="button">Student</button></a>
        
  </body>
</html>