<!-- Andrea Jackson and Kate Kenneally
CS 249 Spring 2016
Course Analyzer Final Project
index.html -->

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
    
        <div id="wrapper">
        
            <div id="content">

                <header>
                    <h1>Computer Science Course Analyzer</h1>
                </header>

                <section>
                    <p id="welcome">
                        Welcome to the Wellesley College CS Course Analyzer!
                        <br>
                        <br>
                        If you are a professor interested in viewing enrollment data in order to predict whether you should expand a course, please select the <strong>Professor</strong> button below.
                        <br>
                        <br>
                        If you are a student interested in learning about CS courses and the timeline of the CS major/minor at Wellesley, please select the <strong>Student</strong> button below.
                    </p>
                </section>

                <a href="/professor"><button type="button">Professor</button></a>
                <a href="/student"><button type="button">Student</button></a>

            </div>

            <div id="footer">
                <p>Andrea Jackson and Kate Kenneally | Spring 2016 | CS 249: Data, Analytics, and Visualization</p>
            </div>
            
        </div>
        
  </body>
</html>