<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    </head>
    
    <body>
        
        <header>
            <h1>Aggregate Timeline of CS Majors/Minors</h1>
        </header>
        
        <div id="graph"></div>
        
        <footer>
            
            <!-- D3.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            
            <!-- Plotly.js -->
            <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
        
            <script type="text/javascript">
                var graph = {{graphJSON | safe}};
                Plotly.plot("graph", graph.data, graph.layout || {});
            </script>
            
        </footer>
        
  </body>
</html>